@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model InvestmentWebPlatform.ViewModel.IndexViewModel

@{
    ViewData["Title"] = "Ações mais vendidas";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <table class="table arrowes-table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <th></th>
                    }

                </tr>
            </thead>

            <tbody>
                @foreach (var share in Model.Shares)
                {
                    <tr>
                        <td>@share.Symbol</td>
                        <td>
                            @share.CurrentPrice
                        </td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <td>
                                <a class="nav-link"
                                   asp-controller="Wallet"
                                   asp-action="AddShare"
                                   asp-route-symbol="@share.Symbol"
                                   asp-route-price="@share.CurrentPrice">Comprar</a>
                            </td>
                        }
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>